@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #18C4CF;
  --primary:hsl(138, 72%, 68%);
  --lightgreen: #70ECB6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight:600;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline-block;
}

@keyframes marqueeAR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marqueeEN {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-ar {
  min-width: auto;
  animation: marqueeAR 40s linear infinite;
}

.animate-marquee-en {
  min-width: auto;
  animation: marqueeEN 40s linear infinite;
}

/* Optional: Pause animation on hover */
/* .animate-marquee:hover {
  animation-play-state: paused;
} */